.HomePage {
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/976/308/large_2x/purple-gradient-background-with-textures-free-vector.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 120px;
    text-align: center;
    color: white;
}

.HomePage h1 {
    margin: 0;
    margin-bottom: 30px;
}

.Link {
    display: flex;
    width: min-content;
    margin: 15px auto;
    gap: 1rem;
    border: 3px white solid;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px rgb(63, 63, 63);
}

.Link:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.Link div {
    color: white;
    margin: auto;
    font-size: 20px;
}

.Logo {
    width: 60px;
}
